<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social App</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/css/style.css">

</head>
<body ng-app="socialApp">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <div><input type="text" ng-model='login.email' placeholder="email address">
        <input type="password" ng-model='login.password'  placeholder="password">
        <button class="btn">Login</button> <a ui-sref='register'>Create An Account</a>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container">
    <ui-view>
    </ui-view>
  </div>
</body>









  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="app/module.js"></script>
  <script src="app/js/controllers.js"></script>
</html>
