body {
  margin-top: 75px;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #fc00ff, #00dbde);
  background: -o-linear-gradient(right, #fc00ff, #00dbde);
  background: linear-gradient(to left, #fc00ff, #00dbde); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.register-form
{
  background: #ccc;
  opacity: 0.8;
}

.navbar {
  padding: 7px;
}

input.form-control {
  border: none;
  border-radius: 1px;
}

.reg-page {
  font-family: 'Catamaran', sans-serif;
  font-size: 55px;
}

.nav-link {
  color: #E612FC;
}

.index-state {
  color: #fff;
  font-family: 'Pacifico', cursive;
  position: absolute;
  margin: auto;
  margin-left: 50px;
}

.index-state h1 {
  font-size: 100px;
  opacity: 0.9;
}

.message-section img {
  width: 75px;
  height: 75px;
}

.message-section p {
  margin-left: 7px;
}

.message-section img {
  margin-bottom: 7px;
}

.splash {
  line-height: 0.5px;
}

.splash p {
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  margin-left: 125px;
}

a:hover {
  font-style: none;
  color: #fff;
}

.follow td {
  padding-right: 45px;
  padding-bottom: 10px;
}
