<div class="reg-page">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <strong>enter your email:</strong>
        <input type="email" ng-model='newUser.email' class="form-control">
        <br>
        <strong>create a password:</strong>
        <input type="password" ng-model='newUser.password' class="form-control">
        <br>
        <center><button class="btn btn-primary" ng-click='createUser($scope.newUser)'>done</button></center>
      </div>
    </div>
  </div>
</div>
